<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header"> <!-- this header defines the styled block -->
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <h1> Title H1 </h1>
            <h2> Title H2 </h2>

            <ul>
                <li> python </li>
                <li> java </li>
            </ul>


            
            <p>
                GitHub Codespaces <span class="heart">♥️</span> Flask
            </p>
            <p class="small">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>

            <form method="post" action="/">  <!-- form is used to collect input. See: https://www.w3schools.com/html/html_forms.asp -->
                <label for="value_to_predict">Prediction value:</label><br>
                <input type="text" id="value_to_predict" name="value_to_predict"><br>
                <input type="submit" value="Predict"/>
            </form>

            {% if predicted %}
                <p> {{predicted}} </p>
            {% endif %}

        </header>
        <p> Hello without header </p>
    </div>
</body>

</html>
